<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uci.scale" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uci.scale.DisplayMessageAlertActivity"
            android:label="@string/title_activity_display_message_Alert"
            android:parentActivityName="uci.scale.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uci.scale.MyActivity" />
        </activity>
        <activity
            android:name="uci.scale.DisplayMessageWarningActivity"
            android:label="@string/title_activity_display_message_warning"
            android:parentActivityName="uci.scale.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uci.scale.MyActivity" />
        </activity>
        <activity
            android:name="uci.scale.DisplayMessageAdviceActivity"
            android:label="@string/title_activity_display_message_advice"
            android:parentActivityName="uci.scale.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uci.scale.MyActivity" />
        </activity>
        <activity
            android:name="uci.scale.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="uci.scale.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uci.scale.MyActivity" />
        </activity>
    </application>

</manifest>

